:root{
    --darkest: #27374D;
    --dark: #526D82;
    --light: #9DB2BF;
    --lightest: #DDE6ED;
}
*{
    padding: 0;
    margin: 0;
}
main{
    background-color: var(--darkest);
    height: 100%;
    color: var(--lightest)
}
.navbar{
    background: var(--dark) !important;
}
