:root{
    --darkest: #27374D;
    --dark: #526D82;
    --light: #9DB2BF;
    --lightest: #DDE6ED;
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}
main{
    background-color: black !important;
    width: 100vw;
    height: 100vh;
    color: var(--lightest);
    overflow-y: auto;
}

.navbar{
    background: var(--dark) !important;
}
